/*
---GRID---
Instructions
All CSS declarations and media queries in this
file should strictly target the "grid" div and
its content in the index.html file.

You're limited to the below stated:
--------------------------
Mandatory declaration
¤ display: grid;                            | Only grid
--------------------------
Permitted media queries
¤ @media screen and (min-width: 768px) {    |
¤ @media screen and (min-width: 1024px) {   |
--------------------------
Permitted properties
¤ display                                   | Only grid
¤ font-weight                               |
¤ grid-column                               |
¤ grid-gap                                  |
¤ grid-row                                  |
¤ grid-template-columns                     |
¤ grid-template-rows                        |
¤ order                                     |
¤ place-content                             |
--------------------------

Student CSS below the line
-------------------------- */

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: (repeat2, 1fr); 
}
.grid > *:nth-child(6) {
  order: 1; 
}
.grid > *:nth-child(1),
.grid > *:nth-child(4),
.grid > *:nth-child(6), 
.grid > *:nth-child(8) {
  grid-column: 1 / -1;
}
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 2fr 3fr 1fr 5fr; 
    grid-template-rows: 5rem 8rem 5rem 5rem 5rem; 
  }
  .grid > *:nth-child(4) {
    grid-column: 1 / 3; 
    grid-row: 1 / 3;
    }
    .grid > *:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    }
    .grid > *:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;    
    }
    .grid > *:nth-child(10) {       
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    }
    .grid > *:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    }
    .grid > *:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    }
    .grid > *:nth-child(7) {
    grid-column: 3 / 4; 
    grid-row: 3 / 6;
    }
    .grid > *:nth-child(6) {
    grid-column: 4 / 5;
    grid-row: 3 / 6;
    }
    .grid > *:nth-child(9) {
    grid-column: 1 / 3; 
    grid-row: 4 / 5;
    }
    .grid > *:nth-child(8) {
    grid-column: 1 / 3; 
    grid-row: 5 / 6;
    }


}
